@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {

        margin: 0;
        padding: 0;   
        box-sizing: border-box;
        text-decoration: none; 
        border: none; 
        outline: none;
        scroll-behavior: smooth;
        font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #fdfdfd;   
    --text-color:#0f0f0f;  
    --main-color: #964b00; 
    --white-color: #fdfdfd; 
    --shadow-color: rgba(0, 0, 0, .2);
    
    }


    
    body
    {
        min-height: 100vh;
        overflow-x: hidden;
          width: 100vw;
          height: 100vh;
         background-color: #fce29a;
    }
    header
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 30px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 10000;
    }
    header .logo
    {
        color: #ffff;
        font-weight: 700;
        text-decoration: none;
        font-size: 2em;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    header ul
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header ul li
    {
        list-style: none;
        margin-left: 20px;
    }
    header ul li a
    {
        text-decoration: none;
        padding: 6px 15px;
        color: #fff;
        border-radius: 20px;
    }
    header ul li a:hover , header ul li a.active
    {
        background: #fff;
        color: #2b1055;
    }
    .home
    {
        position: relative;
        width: 100%;
        height: 100vh;
        padding: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .home img 
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #text
    {
        position: absolute;
        color: #fff;
        right: -350px;
        white-space: nowrap;
        font-size: 7.5vw;
        z-index: 9;
        
    }
    #btn
    {
        text-decoration: none;
        padding: 8px 30px;
        display: inline-block;
        border-radius: 40px;
        background: #fff;
        color: #2b1055;
        font-size: 1.5em;
        transform: translateY(100px);
    }
    .sec
    {
        position: relative;
        padding: 100px;
        background: #1c0522;
    
    }
    .sec h2 
    {
        font-size: 3.5em;
        margin-bottom: 10px;
        color: #fff;
    }
    .sec p
    {
        font-size: 1em;
        color: #fff;
    }

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  height: 100vh;
  width: 100%;
  margin: 0 auto; 
  padding: 40px;
  margin-top: 0px;
  background: url('Personal-Portfolio-master\First-Section-Code-main\Hero-Sections\wooden-floor-background.jpg'); /* Update path */
  background-size: contain;
        

}


.about-img img {
    
  width: 40vw; /* Set position to relative */
  margin-top: 25rem;
    margin-right: 5rem;
    
    }
    
.heading {
    
    font-size: 4.5rem;
    text-align: center;
    
}


.about-content h2 {
    margin-top: 15rem;
    margin-right: 5rem;
     text-align: left; 
     line-height: 1.2;}

.about-content h3 {
font-size: 2rem;

}

.about-content p {
font-size: 1rem;
margin: 2rem 0 -5rem;}


.about .q{
    display: flex;
}

.about .q .about-content{
    bottom:30rem;
}

.container.py-5.text-white .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container.py-5.text-white .col-md-3 {
    flex: 0 0 25%; 
    padding: 10px;
    text-align: center;
}

.container.py-5.text-white .display-4 {
    font-size: 2.5rem;
    color: #964b00; 
    font-weight: bold;
}

.heading-small {
    display: block;
    color: #000;
    font-size: 1.5rem; 
    margin-top: 0.5rem;
}

.maintitle {
    font-size: 24px; 
    font-weight: bold; 
}




.gallery{
  margin-top: -5rem;
  width: 1200px;
  display: flex;
  overflow-x: scroll;
  
}
.gallery div{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  flex: none;
}

.gallery div img{
  width: 100%;
  position: relative;
}

.gallery::-webkit-scrollbar{
  display: none;
}
.gallery-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10% auto;
}

#backBtn, #nextBtn{
  width: 50px;
  cursor: pointer;
  margin: 40px;
}


.artefacts-content h3 {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  margin-bottom: 20px; /* Adjust as needed */
  text-align: left; 
  line-height: 1.2;
  font-size: 3rem;
  font-weight: bold;
}

.artefacts {
  margin-top: 200px; /* Adjust the value as needed */
}




.portfolio {
    padding-bottom: 10rem;
}
    
.portfolio h2 
 {
    
    margin-top: 8rem;
    margin-bottom: -5rem;
    
    }
    
.portfolio .portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
    margin: 8rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
    }
    

.portfolio-box img{
    width: 100%;
    transition: .5s ease;

}

.portfolio-box:hover img{
    transform: scale(1.1)

}

.portfolio-box {
    position: relative; 
}
.portfolio-box .portfolio-layer {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(rgba(0, 0, 0, .1), #964b00); 
   color: var(--white-color);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   padding: 0 4rem;
   opacity: 0;
   transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer{
    opacity: 1;
}

.portfolio-layer h4{
font-size: 2rem;
}

.portfolio-layer a{
     display: inline-flex;
     justify-content: center;
     align-items: center;
     width: 5rem;
     height: 5rem;
     background: var(--white-color);
     border-radius: 50%;
     text-decoration: none;
}

.portfolio-layer a i{
    font-size: 2rem;
    color: #333;
}




  .chatbot-toggler {
    position: fixed;
    bottom: 30px;
    right: 35px;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #964b00;
    transition: all 0.2s ease;
  }
  body.show-chatbot .chatbot-toggler {
    transform: rotate(90deg);
  }
  .chatbot-toggler span {
    color: #fff;
    position: absolute;
  }
  .chatbot-toggler span:last-child,
  body.show-chatbot .chatbot-toggler span:first-child  {
    opacity: 0;
  }
  body.show-chatbot .chatbot-toggler span:last-child {
    opacity: 1;
  }
  .chatbot {
    position: fixed;
    right: 35px;
    bottom: 90px;
    width: 420px;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.5);
    transform-origin: bottom right;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
    transition: all 0.1s ease;
  }
  body.show-chatbot .chatbot {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
  }
  .chatbot header {
    padding: 16px 0;
    position: relative;
    text-align: center;
    color: #fff;
    background: #964b00;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  }
  .chatbot header span {
    position: absolute;
    right: 15px;
    top: 50%;
    display: none;
    cursor: pointer;
    transform: translateY(-50%);
  }
  header h2 {
    font-size: 1.4rem;
  }
  .chatbot .chatbox {
    overflow-y: auto;
    height: 510px;
    padding: 30px 20px 100px;
  }
  .chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
    width: 6px;
  }
  .chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 25px;
  }
  .chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
  }
  .chatbox .chat {
    display: flex;
    list-style: none;
  }
  .chatbox .outgoing {
    margin: 20px 0;
    justify-content: flex-end;
  }
  .chatbox .incoming span {
    width: 32px;
    height: 32px;
    color: #fff;
    cursor: default;
    text-align: center;
    line-height: 32px;
    align-self: flex-end;
    background: #964b00;
    border-radius: 4px;
    margin: 0 10px 7px 0;
  }
  .chatbox .chat p {
    white-space: pre-wrap;
    padding: 12px 16px;
    border-radius: 10px 10px 0 10px;
    max-width: 75%;
    color: #fff;
    font-size: 0.95rem;
    background: #964b00;
  }
  .chatbox .incoming p {
    border-radius: 10px 10px 10px 0;
  }
  .chatbox .chat p.error {
    color: #721c24;
    background: #f8d7da;
  }
  .chatbox .incoming p {
    color: #000;
    background: #f2f2f2;
  }
  .chatbot .chat-input {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 3px 20px;
    border-top: 1px solid #ddd;
  }
  .chat-input textarea {
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    max-height: 180px;
    padding: 15px 15px 15px 0;
    font-size: 0.95rem;
  }
  .chat-input span {
    align-self: flex-end;
    color: #964b00;
    cursor: pointer;
    height: 55px;
    display: flex;
    align-items: center;
    visibility: hidden;
    font-size: 1.35rem;
  }
  .chat-input textarea:valid ~ span {
    visibility: visible;
  }
  @media (max-width: 490px) {
    .chatbot-toggler {
      right: 20px;
      bottom: 20px;
    }
    .chatbot {
      right: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 100%;
    }
    .chatbot .chatbox {
      height: 90%;
      padding: 25px 15px 100px;
    }
    .chatbot .chat-input {
      padding: 5px 15px;
    }
    .chatbot header span {
      display: block;
    }
  }
